.destinations {
  .container {
    a {
      color: $color-orange;
      font-weight: 600;

      &:hover {
        border-bottom: 2px solid $color-orange;
      }
    }
    .squad-img {
      position: relative;
      transition: 0.3s;
      box-shadow: 4px 3px 23px 0px $color-lgray02;
      border-radius: 20px;
      overflow: hidden;
      height: 377px;
      &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.05);
      }
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

      }
      .p-img {
        p {
        }
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        padding: 20px 30px 15px;
        border-top-right-radius: 10px;
      }
    }
  }

}
