// Paleta de cores do site
$color-lgray: #7D7987;
$color-black: #000;
$color-white: #fff;
$color-orange: #FB8F1D;
$color-dark-orange: #f57e00;
$color-lgray02: rgba(171,171,171,1);

//$color-success: #3AB572; 
//$color-alert: #F0AC4A;
//$color-danger: #C23F3B;

//cores do projeto


// Importação de font do site
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Playfair+Display:wght@500;600;700;800&display=swap');

// Grid configurações
$grid-gutter-width: 30px;
$grid-columns: 12;

$screen-sm: 768px;
$screen-md: 1024px; 
$screen-lg: 1170px;

$grid-container-max-size: 1170px;

//configurações de fonte
$font-display: 'Playfair Display', serif;
$font-text: 'Inter', sans-serif;
$font-weight-heading: 400;


//icons do Icomoon App
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-search: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-right: "\e906";
$icon-glenmark: "\e905";
$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-youtube: "\e902";

